<%- include('partials/header')%>
<!--  -->
<%- include('partials/nav')%>
<div class="w-50 d-flex align-items-center container mt-3">
    <img
        height="100"
        width="100"
        style="object-fit: cover"
        class="rounded-circle me-5"
        src="/images/<%= user.avatar %>"
        alt=""
    />
    <form action="/avatar" method="post" enctype="multipart/form-data">
        <input class="form-control mb-3" type="file" name="avatar" />
        <button class="btn btn-danger">Upload Photo</button>
    </form>
</div>

<hr class="container my-3" />
<form class="m-auto w-50 mt-5" action="/profile" method="post">
    <h1 class="mb-4">User Profile Page</h1>
    <input
        class="form-control mb-3"
        type="text"
        placeholder="Enter a name"
        name="username"
        value="<%= user.username%>"
    />
    <input
        class="form-control mb-3"
        type="email"
        placeholder="Enter a email"
        name="email"
        value="<%= user.email%>"
    />
    <button class="btn btn-primary w-25">Update Profile</button>
</form>

<hr />
<div class="container w-50">
    <a class="btn btn-warning" href="/reset/<%=user._id%>">Reset Password</a>
</div>

<%- include('partials/footer')%>